html,
body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  margin: 0;
}
.header0 {
  display: flex;
  column-gap: 25%;
  align-items: center;
}
.header1 {
  width: 300px;
}
main {
  flex: 1 1 auto;
}
::selection {
  background: cyan;
}


